@model ZavenDotNetInterview.App.Models.Job
@{ ViewBag.Title = "Details"; }

@if (Model.Id != Guid.Empty)
{
    <h1>Details</h1>
    <hr />
    <h4>Name: <b class="text-secondary">@Model.Name</b></h4>
    <h4>Status: <b class="text-secondary">@Model.Status</b></h4>
    if (Model.DoAfter != null)
    {
        <h4>Status: <b class="text-secondary">@Model.DoAfter</b></h4>
    }
    else
    {
        <h4>Status: <b class="text-secondary">No date was provided</b></h4>
    }
    <table class="table table-striped">
        <tr>
            <th>
                Id
            </th>           
            <th>
                Description
            </th>
            <th>
                CreatedAt
            </th>
        </tr>
        @foreach (var log in @Model.Logs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => log.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => log.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => log.CreatedAt)
                </td>
            </tr>
         }
    </table>
}
else
{
    <h1>
        Job with this ID does not exists :/
    </h1>
    <hr />
}

