@model List<ZavenDotNetInterview.App.Models.Job>

@{
    ViewBag.Title = "Index";
}

<h2>Your jobs</h2>
<hr />
<a onclick="location.href='@Url.Action("Create")';return false;">Create</a>
<a onclick="location.href='@Url.Action("Process")';return false;">Process</a>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
        <th>
            Created At
        </th>
        <th>
            Updated At
        </th>
        <th>
            Details
        </th>
    </tr>
    @foreach (var job in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => job.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => job.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => job.CreatedAt)
            </td>
            @if (job.LastUpdatedAt != null)
            {
                <td>
                    @Html.DisplayFor(modelItem => job.LastUpdatedAt)
                </td>
            }
            else
            {
                <td>
                    No modification so far
                </td>
            }
            <td>
                @Html.ActionLink("Details", "Details", new { jobId = job.Id })
            </td>
        </tr>
    }
</table>